doctype html
head
    base(href="/")
    title My Pug Site
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(href='/stylesheets/style.css')

body
    h1 My Site
    p Welcome to my super lame site.
    my-app Loading ...

    script(src='/js/app/bundle.js')
